.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  align-self: center;
  //   margin-left: 12rem;
  border-radius: 50%;
}
.img-container {
  margin-left: 2rem;
}
.user-img {
  height: 100%;
  width: 100%;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}
.btn {
  z-index: 100;
  margin-top: 2rem;
  margin-left: 1rem;
}
.btn-done {
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}

.btn-lib {
  width: 68%;
  margin: 1rem auto;
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
  & a {
    font-size: 1.4rem;
  }
}
