.container {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-light),
    var(--color-primary)
  );
  background-size: cover;

  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  &__logo {
    width: 8rem;
    height: 8rem;
    position: absolute;
    transform: translate(-50%, -50%);
    // background-color: #fff;
    top: 8%;
    left: 50%;
  }
}
.form__container {
  background-color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
      250deg,
      rgba(#fff, 0.9) 0%,
      rgba(#fff, 0.9) 50%,
      transparent 50%
    ),
    url(../../assets/newbg.jpg);
  background-size: 113.5%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
  height: 50rem;
  width: 100rem;
  background-repeat: no-repeat;
  //   margin-right: 10rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  // margin-left: 3rem;
 
  &__heading {
    position: absolute;
    top: 10%;
    right: 19%;
    padding: 2rem;
    font-size: 4.5rem;
    color: #5accf0;
    font-weight: 300;
  }
  &__form {
    position: absolute;
    top: 30%;
    right: 8.2%;
    padding: 2rem;
  }
  &__group {
    margin-top: 3rem;
  }
  &__btn {
    margin-top: 2.5rem;
    margin-left: 3rem;
  }
  &__spinner{
    margin-left: 6rem;

  }
  &__input {
    font-family: inherit;
    font-size: 2.2rem;
    border: none;

    display: block;
    line-height: 1.8;
    background-color: rgba(#fff, 0);
    color: inherit;
    border-bottom: 1px solid var(--color-grey-dark-3);

    width: 95%;
    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-2);
    }

    &:focus:invalid {
      border-bottom: 1px solid red;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #5accf0;
      background-color: inherit;
    }
  }
  &__group {
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    // margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
