.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-grey-light-3);
  height: 7rem;
  //   flex: 1;
  &__heading {
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: 500;
    // font-family: "Lato";
    position: relative;
    &--device-name {
      display:inline-block;
      font-size: 1.5rem;
      position: absolute;
      top:1.4rem;
      font-weight: 100;
      margin-left: .7rem;
      // margin-top: -100rem;
    }
  }
  &__user-nav {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    align-self: stretch;

    & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }
    & > *:hover {
      background-color: var(--color-grey-light-1);
    }

    &--user-photo {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      flex: 1;
      margin-right: 1rem;
      //   margin-left: 1.5rem;
    }
    &--user-name {
      font-size: 1.8rem;
      margin-right: 2rem;
    }

    &--icon-box {
      position: relative;
      text-align: center;
      transition: all 0.3s;
    }

    &--notification {
      background-color: #5accf0;
      color: #fff;
      font-size: 1.2rem;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      right: 1.1rem;
    }
    &--icon {
      width: 3rem;
      height: 3rem;
      fill: var(--color-grey-dark-3);
      // margin-left: 1.5rem;
    }
    &--button {
    }
  }
}
