.side-bar {
  width: 25%;
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  overflow: hidden;
  // justify-content: space-between;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    #1d3893
  );
  //   background-size: cover;
  //   background-repeat: no-repeat;

  //   flex-direction: column    ;
  //   justify-content: center;
  //   align-items: center;

  &__logo {
    height: 12rem;
    width: 12rem;
    // animation:  spin infinite 5s linear;
  }
  &__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__heading {
    font-size: 2rem;
    color: var(--color-grey-light-3);

    letter-spacing: 0.2rem;
    // background-image: linear-gradient(to right, #ff00fe, #7e4141);
    // color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.15);
    }
  }
  &__tag-line {
    font-size: 1.5rem;
    color: var(--color-grey-light-3);
  }
  &__list {
    list-style: none;
    margin-top: 5rem;
    margin-bottom: auto;

    &--item {
      position: relative;
      // border-top-right-radius: -100rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &--item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      //   z-index: 5;
      background-image: linear-gradient(to right, #5accf0, #25bcf3, #a2e7ec);
      transform: scaleY(0);
      transition: transform 0.3s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }
    &--link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      //   z-index: 5;
      background-image: linear-gradient(to right, #5accf0, #25bcf3, #a2e7ec);
      transform: scaleY(0);
      transition: transform 0.3s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
      z-index: 0;
      // margin-left: -6rem;
      border-top-left-radius: 100rem;
      border-top-right-radius: 100rem;

      border-bottom-left-radius: 100rem;

      // border-radius: 100px;
    }
    &--link:link,
    &--link:visited {
      text-decoration: none;
      font-size: 1.9rem;
      font-weight: 600;
      color: var(--color-grey-light-1);
      margin-left: 2rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: 'Nunito', sans-serif;
      position: relative;
      z-index: 100;
      //   display: block;
      padding: 1.5rem 3rem;
      span {
        z-index: 100;
      }
    }
    &--item:hover::before {
      transform: scaleY(1);
      // width: 100%;
    }
    &--link--active::before {
      transform: scaleY(1);
      width: 127%; 
    }
    // &--item:active::before {
    //   background-color: var(--color-primary-light);
    // }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 2rem;
    z-index: 10000;
  }
}
.legal {
  font-size: 1.2rem;
  // margin-left: 2rem;
    // align-self: flex-end;
    padding: 1rem;
  
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logout {
  margin-left: 3.8rem;
  // justify-self: center;
  margin-top: 8rem;
}
