.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__input__container {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    @media (max-width: 970px) {
    }
    // margin-left: -10rem;

    &--input {
      font-family: inherit;
      font-size: 1.9rem;
      background-color: var(--color-grey-dark-2);
      border: none;
      padding: 0.7rem 2rem;
      color: #fff;
      border-radius: 100px;
      width: 90%;
      // opacity: 0;
      animation: moveIn 0.4s ease-out 0.4s backwards;
      @media (max-width: 620px) {
        border-radius: 1px;
      }
      @media (max-width: 970px) {
        // font-size: 1.4rem;
        padding: 0.7rem 1.5rem;
      }
      @media (max-width: 800px) {
        padding: 0.3rem 0.8rem;
      }

      transition: all 0.3s;
      margin-right: -3.24rem;
      &:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-dark-3);
      }
      &::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-3);
        @media (max-width: 970px) {
          font-size: 1.4rem;
          // padding: .3rem 1rem;
        }
      }
    }
    &--icon {
      height: 2rem;
      width: 2rem;
      fill: #fff;
      @media (max-width: 680px) {
        display: none;
      }
      @media (max-width: 970px) {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--title {
      font-size: 3rem;
      padding: 1.5rem;
    }
    &--btn {
      padding: 1.5rem;
      margin-top: 0.5rem;
      display: flex;
    }
    @media (max-width: 840px) {
      // font-size: 1.4rem;
      justify-content: space-around;
    }
  }
}

.table {
  width: 90%;
  height: 1000;
}
.table__container {
  //  width: 90%;
  flex: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  @media (max-width: 800px) {
    width: 90%;
  }

  font-size: 1.5rem;
}
.device__activity__status--active {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  background-color: var(--color-secondary);
  height: 100%;
  padding: 0.7rem;
}
.device__activity__status--deactive {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  background-color: #e40404de;
  height: 100%;
  padding: 0.7rem;
}
.no_data {
  font-size: 2rem;
  color: red;
}
.close {
  width: 1.3rem;
  height: 1.3rem;
  fill: var(--color-grey-dark-3);
  position: absolute;
  right: 1rem;
}
.form__heading {
  text-align: center;
  font-size: 3rem;
  color: var(--color-secondary);
  font-weight: 700;
}
.export__btn {
  // background-color: red;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
  margin-left: 2rem;
  animation: moveIn 0.4s ease-out 0.8s backwards;

  &--icon {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1.2rem;
  }
  & a {
    margin-top: -4rem;
    // padding: -2rem 2rem;
    // display: inline-block;

    // text-decoration: none;
    font-size: 1.8rem;
    // color: var(--color-grey-light-1);
    // margin-top: -10rem;
  }
}
.btn {
  &--delete {
    background-image: linear-gradient(
      to bottom right,
      rgb(128, 0, 0),
      rgb(255, 0, 0)
    );
    animation: moveIn 0.3s ease-out 0.3s backwards;
  }

  // background-color: red;

  animation: moveIn 0.3s ease-out;
  // width: 10rem;
  // padding: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  &--icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1.2rem;
  }
  & a {
    margin-top: -4rem;
    // padding: -2rem 2rem;
    // display: inline-block;

    // text-decoration: none;
    font-size: 1.6rem;
    text-transform: lowercase;
    // color: var(--color-grey-light-1);
    // margin-top: -10rem;
  }
  &--edit {
    background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
    & a {
      margin-top: -6rem;
    }
  }
}
@keyframes moveIn {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.delete__device__form {
  width: 50%;
  // margin-left: -12rem;
  left: 30%;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
  z-index: 2000;
}
.add__device__form {
  width: 65%;
  // margin-left: -12rem;
  left: 20%;
  // background-color: rgba(0,0,0,1);
  overflow: hidden;
  z-index: 2000;
}
.form__heading__delete {
  // text-align: center;
  font-size: 2.5rem;
  color: rgb(128, 0, 0);
  font-weight: 700;
  // margin-left: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.device-details {
  width: 80%;
  left: 10%;
  overflow: hidden;
  z-index: 2000;
  position: absolute;
  border-radius: 5px;
}
