.btn {
  //   height: 10rem;
  &:link,
  &:visited {
    border-radius: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    //   background-color: #25bcf3;
    background-image: linear-gradient(to top left, #5accf0, #25bcf3, #a2e7ec);
    width: 15rem;
    padding: 1.5rem 4rem;
    display: inline-block;

    text-decoration: none;
    font-size: 1.9rem;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;

  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
