.form {
  // width: 60rem;
  width: 100%;
  padding: 4rem;
  &__heading {
    text-align: center;
    font-size: 3rem;
    color: var(--color-secondary);
    font-weight: 700;
  }
  &__input {
    display: block;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 2rem;
    border-radius: 10rem;
    font-family: inherit;
    color: #fff;
    background-color: var(--color-grey-dark-3);
    // background-color: rgba(255,255,255,.1);
    margin-bottom: 1rem;
    &:focus {
      outline: none;
      // width: 100%;
      // background-color: var(--color-grey-dark-3);
    }
  }
  &__label {
    font-size: 1.7rem;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__radio-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    // &:not(:last-child) {
    margin-bottom: 2rem;
    // }
  }
  &__radio-label {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    // width: 9rem;
    display: inline-block;
  }
  &__radio-input {
    display: none;
  }
  &__radio-button {
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid var(--color-secondary);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    font-size: 1.9rem;
    // top: -0.4rem;
    left: 0;
    &::after {
      content: "";
      height: 1rem;
      width: 1rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-secondary);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
  &__btn {
    margin-top: 2rem;
    width: 100%;
    // margin-left: -5rem;
  }
}
.error {
  font-size: 1.4rem;
  color: red;
}

