.form {
  // width: 60rem;
  // width: 100%;
  padding: 4rem;
  align-self: center;
  &__input {
    display: block;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 2rem;
    border-bottom: 1px solid var(--color-grey-dark-1);
    font-family: inherit;
    color: var(--color-grey-light-1);
    // background-color: var(--color-grey-dark-3);
    // background-color: rgba(255,255,255,.1);
    background-color: rgba(0, 0, 0, 1);
    animation: moveIn 0.4s ease-out 0.3s backwards;
    // animation: moveIn 0.3s ease-out ;

    margin-bottom: 1rem;
    &:focus {
      outline: none;
      // width: 100%;
      // background-color: var(--color-grey-dark-3);
    }
  }
  &__label {
    font-size: 1.7rem;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__btn {
    margin-top: 5rem;
    width: 80%;
    margin-left: 3rem;
    background-image: linear-gradient(
      to bottom right,
      rgb(128, 0, 0),
      rgb(255, 0, 0)
    );
    animation: moveIn 0.3s ease-out 0.6s backwards;
    // margin-left: -5rem;
  }
}
.error {
  font-size: 1.4rem;
  color: red;
}

@keyframes moveIn {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
